:root {
    --mainEng-font: "Montserrat";
    --mainKor-font: "nanumSquareNeo";
    --mainNum-font: "gmarket";
    --intro-font: "Playfair Display";
    --intro-sub-font: 'Noto Serif KR';

    --subfont-color: rgb(103, 106, 255);
    /* --mainBg-color: #f0fff8; */
    --mainBg-color: #F4FCD9;
    --subBg100: #C5D8A4;
    --subBg200: #BB9981;
    --subBg300: #FFD8BC;
    --subBg400: #DCB69A;
    --subBg500: #9F8471;
    --subBg600: #7F6E61;

    --white: #fff;
    --white100: #eeeeee;
    --white200: #e1e1e1;
    --white300: #d9d9d9;
    --white400: #ddd;
    --white500: #d1d1d1;

    --black: #000;
    --black100: #111;
    --black200: #222;
    --black300: #333;
    --black400: #444;
    --black500: #555;

    --mainFont-color: #534340;

    /* 기본 폰트 설정 */
    font-family: var(--mainEng-font), var(--mainKor-font);
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;

    /* 폰트를 부드럽게 렌더링하기 위한 속성  */
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /* 아이폰 가로 모드에서 글씨 확대 금지 */
    -webkit-text-size-adjust: 100%;
}

@media (max-width: 800px) {
    :root {
        font-size: 14px;
        line-height: 1.4;
    }
}

body {
    color: var(--black);
    background-color: var(--mainBg-color);
}